* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div.flr {
    background-color: lightgray;
    display: flex;
    align-items: center;
}

div.section {
    margin-bottom: .5rem;
}

div.photos {
    display: flex;
}

figure {
    margin: auto;
}

img.flr-color {
    padding-right: .25rem;
    width: 1rem;
}

span.flr-time,
span.lc {
    font-weight: bold;
}

span.lcs {
    margin-right: 1rem;
}

/* Glossary */
div.glossary img {
    max-height: 300px;
}
