* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div.flr {
    background-color: lightgray;
    display: flex;
    align-items: center;
}

img {
    width: 100%;
}

img.flr {
    width: 1rem;
}

figure {
    page-break-inside: avoid;
}