* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div.flr {
    background-color: lightgray;
    display: flex;
    align-items: center;
}

div.section {
    margin-bottom: .5rem;
}

img.flr {
    padding-right: .25rem;
    width: 1rem;
}

/* Glossary */
div.glossary img {
    max-height: 300px;
}